<div>
    <br />
    <h4>Players</h4>
</div>

<div>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Players</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='addPlayer($event.option.value)'>
            @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{option.name}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>
</div>

<div class="cards">
    @for (player of players; track $index) {
        <div class="card">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>{{player.firstName}} {{player.lastName}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image class="image" src="{{player.imageUrl}}" alt="headshot of player">
                <div>
                @if (player.position !== "G") {
                <mat-card-content>
                    Current Season Goals: {{player.currentSeasonGoals}}
                </mat-card-content>
                <mat-card-content>
                    Current Season Assists: {{player.currentSeasonAssists}}
                </mat-card-content>
                <mat-card-content>
                    Current Season Points: {{player.currentSeasonPoints}}
                </mat-card-content>
                } @else {
                <mat-card-content>
                    Current Season Wins: {{player.currentSeasonWins}}
                </mat-card-content>
                <mat-card-content>
                    Current Season Losses: {{player.currentSeasonLosses}}
                </mat-card-content>
                <mat-card-content>
                    Current Season OT Losses: {{player.currentSeasonOvertimeLosses}}
                </mat-card-content>
                }

            </div>
            <div>
                @if (player.position !== "G") {
                <mat-card-content>
                    Career Goals: {{player.careerGoals}}
                </mat-card-content>
                <mat-card-content>
                    Career Assists: {{player.careerAssists}}
                </mat-card-content>
                <mat-card-content>
                    Career Points: {{player.careerPoints}}
                </mat-card-content>
                } @else {
                <mat-card-content>
                    Career Wins: {{player.careerWins}}
                </mat-card-content>
                <mat-card-content>
                    Career Losses: {{player.careerLosses}}
                </mat-card-content>
                <mat-card-content>
                    Career OT Losses: {{player.careerOvertimeLosses}}
                </mat-card-content>
                }
            </div>
                <button mat-button (click)="removePlayer(player.id)">Remove player</button>
            </mat-card>
        </div>
    }
</div>

