html { font-size: 22px; }


.cards {
    max-width: 1000px;
    margin: 1% 5%;
    display: grid;
    gap: 1rem;
}

.card {
    height: 600px;
    min-width: 325px;

    mat-card {
        align-items: center;
    }

    .jonah {
        background-color: teal;
    }

    .isaiah {
        background-color: #FF4500;
    }

    .mom {
        background-color: aquamarine;
    }

    .dad {
        background-color: orange;
    }
}

.icons {
    width: 35px;
    height: 35px;
}

.record {
    display: block;
    text-align: center;
}

@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 800px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: auto;
    }
}

@media (min-width: 1100px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}